@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@600;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@700&display=swap');*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1134.8px;
    margin: 0 auto;
}
.bg{
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 509.3px;
    top: -100px;
}
header .container{
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.logo{
    width: 113px;
    height: 30px;
}
.btn,
.demon{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    opacity: 0.94;
    text-decoration: none;
}
.btn:not(:last-child){
    margin-right: 35px;
}

.demon{
    padding: 12px 20px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 21px;
}
.welcom_block .container{
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "title_ img"
                         "text_ img"
                         "demon img";
}
.title{
    /*position: absolute;*/
    /*top: 389px;*/
    grid-area: title_;
    width: 571px;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 94px;
    line-height: 108px;
    background-image: linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}
.demon_w{
    position: absolute;
    top: 626px;
    grid-area: demon;
    width: max-content;
    height: 52px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 15px 12px 20px;
    background: #231A36;
    border-radius: 26px;

}
.demon_w img{
    margin-left: 10px;
}
.welcom_text{
    position: absolute;
    top: 526px;
    grid-area: text_;
    width: 490px;
    color: #425466;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    margin-top: 0px;
}
.welcom_img{
    grid-area: img;
    width: 718.34px;
    height: 593.6px;
    float: right;
    margin-top: -120px;
}
/*CLIENT_BLOG*/
.client_blog .container{
    margin-top: 566px;
}
.title_client{
    text-align: center;
    font-family:'Lato', sans-serif ;
    font-style: normal;
    font-size: 16px;
    color:#B2B7BE ;
    margin-bottom: 71px;
}
.clients img{
    display: block;
    margin: 0 auto;
    opacity: 0.75;
}
.clients img:hover{
    opacity: 1;
}
.clients{
    /*display: grid;*/
    /*grid-template-columns: repeat(6, 1fr);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*ADVERT*/
.advert{
    text-align: center;
    width: 551px;
    margin: 80px auto;
}
.advert h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #1F1F26;
    margin-bottom: 10px;

}
.text_advert{
    width: 551px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #426666;
 }
/*INFO*/
.blocks{
    width: 788.93px;
    /*display: block;*/
    /*position: center;*/
    margin: 0 auto;
}
.block{
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-areas: "theme img"
                         "title img"
                         "text img"
                         "btn img";
    width: 788.93px;
    background: gray;
}
.block:not(:last-child){
    margin-bottom: 79px;
}
.block h5{
    grid-area: theme;
    font-size: 14px;
    font-weight: normal;
    /*margin-top: 8px;*/
    color: #B33CDB;
    margin-bottom: 0px;
    display: block;
    justify-content: end;
}
.block h4{
    grid-area: title;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 8px;
    color: #1F1F26;
}
.text_block{
    grid-area: text;
    /*margin-top: -15px;*/
    font-size: 16px;
    letter-spacing: 0.01em;
    width: 340px;
    color: #426666;
}
.btn_block{
    grid-area: btn;
    margin: 0;
    /*position: absolute;*/
    /*width: max-content;*/
    /*height: 52px;*/
    /*display: flex;*/
    /*align-items: center;*/
    color: #42424A;
    /*font-family: 'Inter', sans-serif;*/
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    padding: 12px 15px 12px 20px;
    /*background: #231A36;*/
    /*border-radius: 26px;*/

}
.btn_block img{
    margin-left: 10px;
}
.img_block{
    grid-area: img;
    /*width: 240.48px;*/
    float: right;
}
.revers{
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-areas: "img theme"
                         "img title"
                         "img text"
                         "img btn";
}
.revers h5{
    color: #FBBA33;
}
.third h5{
    color: #DE2879;
}
/*DATA BLOCK*/
.data_block{
   height: 590px;
   background: #231A36;
   margin-bottom: 130px;
   margin-top: 110px;
}
.data_block h2{
    width: 734px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    padding: 120px 0 18px 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text_data{
    width: 562px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #7B9292;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.data_blocks{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 25px 0;
    margin-top: 120px;
}
.cell_digital,
.cell_name{
    display: flex;
    justify-content: space-between;
}
.cell_digital{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    color: #ffffff;
}
.cell_name{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #7B9292;
    margin-top: 10px;
}

/*TEAM BLOCK*/
.team_img{
    /*position: relative;*/
    width: 340px;
    height: 300px;
    border-radius: 2px 2px 0px 0px;
    /*z-index: -5;*/
}
/*.team_block :first-child{*/
/*    position: relative;*/
/*}*/
/*.team_block :nth-child(2){*/
/*    position: absolute;*/
/*    top: 87px;*/
/*}*/
.team_info{

    width: 272px;
    height: 175px;
    background: #ffffff;
    border-radius: 0px 0px 2px 2px;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.team_name{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3B3B43;
    padding-left: 25px;
    margin: 22px 0 20px;
}
.team_rates{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding-left: 25px;
}
.team_rate1,
.team_rate2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #1F1F26;
}
.team_n_rate1,
.team_n_rate2{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color: #ADADBA;
    padding-top: 8px;

}
.btn_team{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: #B33CDB;
    padding-left: 25px;
    margin: 22px 0 27px;
}
.team_rate1,
.team_n_rate1{
    display: flex;
    justify-content: space-between;
}
.team_rate2,
.team_n_rate2{
    display: flex;
    justify-content: space-between;
}

