@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@600;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@700&display=swap');*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1134.8px;
    margin: 0 auto;
}

.bg {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 509.3px;
    top: -100px;
}

header .container {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.logo {
    width: 113px;
    height: 30px;
}

.btn,
.demon {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    opacity: 0.94;
    text-decoration: none;
}

.btn:not(:last-child) {
    margin-right: 35px;
}
/*TRY UL: START */
/*.btn_select ul{*/
/*    list-style: none;*/
/*}*/
/*.btn_select > ul{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
/*.btn_select ul{*/
/*    position: absolute;*/
/*    display: none;*/
/*}*/
/*.btn_select ul > ul li a{*/
/*    text-transform: none;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/
/*.btn btn_select li:hover > ul{*/
/*    display: block;*/
/*}*/
/*TRY UL: STOP */

.demon {
    padding: 12px 20px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 21px;
}

.welcom_block .container {
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "title_ img"
                         "text_ img"
                         "demon img";
}

.title {
    /*position: absolute;*/
    /*top: 389px;*/
    grid-area: title_;
    width: 571px;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 94px;
    line-height: 108px;
    background-image: linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.demon_w {
    position: absolute;
    top: 626px;
    grid-area: demon;
    width: max-content;
    height: 52px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 15px 12px 20px;
    background: #231A36;
    border-radius: 26px;

}

.demon_w img {
    margin-left: 10px;
}

.welcom_text {
    position: absolute;
    top: 526px;
    grid-area: text_;
    width: 490px;
    color: #425466;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    margin-top: 0px;
}

.welcom_img {
    grid-area: img;
    width: 718.34px;
    height: 593.6px;
    float: right;
    margin-top: -120px;
}

/*CLIENT_BLOG*/
.client_blog .container {
    margin-top: 566px;
}

.title_client {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #B2B7BE;
    margin-bottom: 71px;
}

.clients img {
    display: block;
    margin: 0 auto;
    opacity: 0.75;
}

.clients img:hover {
    opacity: 1;
}

.clients {
    /*display: grid;*/
    /*grid-template-columns: repeat(6, 1fr);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*ADVERT*/
.advert {
    text-align: center;
    width: 551px;
    margin: 80px auto;
}

.advert h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #1F1F26;
    margin-bottom: 10px;

}

.text_advert {
    width: 551px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #426666;
}

/*INFO*/
.blocks {
    width: 788.93px;
    margin: 0 auto;
}

.block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}
.info_title{
    margin-left: 20px;
}
.info_title h5 {
    margin-top: 65px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #B33CDB;
    margin-bottom: 0px;
    display: block;
    justify-content: end;
}

.block:not(:last-child) {
    margin-bottom: 79px;
}
.block h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 8px;
    color: #1F1F26;
}

.text_block {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    letter-spacing: 0.01em;
    width: 340px;
    display: block;
    color: #426666;
    font-weight: 400;
    font-style: normal;
    margin-top: 14px;
}

.btn_block {
    display: block;
    /*margin: 0;*/
    color: #42424A;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    padding: 12px 15px 12px 0px;
    margin-top: 30px;

}

.btn_block img {
    margin-left: 10px;
}

.revers {
    font-family: 'Inter', sans-serif;
    grid-template-columns: 1fr 2fr;
}
.revers .info_title{
    margin-left: 60px;
}
.revers h5 {
    color: #FBBA33;
}

.third h5 {
    color: #DE2879;
}
.third .img_block{
    /*margin-left: 0;*/
}

/*DATA BLOCK*/
.data_block {
    height: 590px;
    background: #231A36;
    margin-bottom: 130px;
    margin-top: 110px;
}

.data_block h2 {
    width: 734px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    padding: 120px 0 18px 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_data {
    width: 562px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #7B9292;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.data_blocks {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 25px 0;
    margin: 120px auto;
    width: 846px;
}

.cell_digital,
.cell_name {
    display: flex;
    justify-content: space-between;
}

.cell_digital {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    color: #ffffff;
}

.cell_name {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #7B9292;
    margin-top: 10px;
}

.data_cell {
    /*padding-left: 100px;*/
    display: block;
    margin: 0 auto;
}

/*TEAM BLOCK*/
.team_img {
    position: relative;
    width: 360px;
    height: 300px;
    border-radius: 2px 2px 0px 0px;
    /*z-index: -5;*/
}

.team_info {
    position: absolute;
    width: 272px;
    height: 175px;
    background: #ffffff;
    border-radius: 0px 0px 2px 2px;
    /*border: 1px solid gray;*/
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    transform: translateY(-50%);
    box-shadow: 0px 40px 100px -30px rgba(0, 0, 0, 0.04);
}

.team_name {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3B3B43;
    padding-left: 25px;
    margin: 22px 0 20px;
}

.team_rates {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding-left: 25px;

}

.team_rate1,
.team_rate2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #1F1F26;
}

.team_n_rate1,
.team_n_rate2 {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color: #ADADBA;
    padding-top: 8px;
}

.btn_team {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: #B33CDB;
    padding-left: 25px;
    margin: 22px 0 27px;
}

.team_rate1,
.team_n_rate1 {
    display: flex;
    justify-content: space-between;
}

.team_rate2,
.team_n_rate2 {
    display: flex;
    justify-content: space-between;
}

.team_blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}
/*ADVERT 2*/
.img_advert{
    position: absolute;
    display: block;
    width: 168px;
    height: 107.89px;
    margin-left: 100px;
    z-index: -5;
}
.title_advert{
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 551px;
}
.title_advert h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #1F1F26;
    margin-bottom: 10px;
}

.advert_con{
    display: flex;
    justify-content: space-between;
    margin-top: 156px;
}

/*OPINIONS*/
.opinion_clients {
    width: 976px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 130px;
}
.opinion_client {
    width: 477px;
}
.icon_opinion{
    display: block;
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.text_opinion{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    color: #6D6D6D;
    display: block;
    margin-top: 40px;
}
.data_opinion{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.name_opinion h3{
    font-family: 'Lato', sans-serif;
    /*font-style: italic;*/
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #1C1C1D;
    /*display: block;*/
    /*margin-top: 40px; */
}
.status_name{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #9C988F;
    display: block;
    margin-top: 12px;
}
.data_opinion img{
    display: block;
    margin-top: 12px;
}
/*CONTACT BLOCK*/
.contact_block{
    width: 976px;
    margin: 50px auto 125px;
    border-radius: 20px;
    /*box-shadow: 0 0 5px #0000007f;*/
    /*display: flex;*/
    /*justify-content: center;*/
    height: 322px;
    /*padding: 40px 50px 90px;*/
    background-image:url('../../images/bg_02.png');
    background-size: cover;
    border: 1px solid white;
}
.title_cont{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    margin-top: 51px;
    margin-bottom: 4px;
}
.text_cont{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    margin-bottom: 28px;
}
.subscribe{
    grid-area: demon;
    width: 202px;
    height: 52px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 17px 30px 17px 42px;
    background: #231A36;
    border-radius: 26px;
    transition: .4s;

}
.subscribe img {
    margin-left: 30px;
}
.subscribe:hover{
    background: #B33CDB;
    /*border: 1px solid #ffffff;*/
}
/*FOOTER*/
.footer_main{
    width: 976px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 25px;*/
    margin: 0 auto 59px;
    /*border-bottom: 1px solid #E3E3EA;*/
}
.footer_main .logo{
    /*width: 113px;*/
    /*height: 30px;*/
    /*color: #1A1A1A;*/
}
.footer_main .btn{
    color: #333333;
}
.footer_link{
    width: 75px;
    display: flex;
    justify-content: space-between;
}
.copyright{
    width: 976px;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #959595;
    text-align: center;
    margin: 30px auto 30px;
    padding-top: 30px;
    border-top: 1px solid #E3E3EA;

}

